#users {
    display: flex;
    flex-flow: row wrap;

}

#user {
    border:  solid 1px gray;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    

}

